/* You can add global styles to this file, and also import other style files */

@import '~bootstrap/dist/css/bootstrap.min.css';

.btn-primary, .btn-primary:hover {
    color: #fff;
    background-color: #03A9F4;
    border-color: #03A9F4;
}
.active {
    color: #03a9f4;
}

.mt-10{margin-top:10px;}
.mt-15{margin-top:15px;}
.mt-20{margin-top:20px;}

.mb-10{margin-bottom:10px;}
.mb-15{margin-top:15px;}
.mb-20{margin-bottom:20px;}

.MedicationPopup .modal-body {
    padding:20px;
}

.MedicationPopup .header h2 {
    margin: 0;
    margin-bottom:20px;
}

.MedicationPopup button.close {
    font-size: 32px;
}
