USE [master]
GO
/****** Object:  Database [SimonsTestDB]    Script Date: 1/10/2018 12:55:23 PM ******/
CREATE DATABASE [SimonsTestDB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'SimonsTestDB', FILENAME = N'D:\SaddamHusaain\2018\DataBase\Mdf\SimonsTestDB.mdf' , SIZE = 5120KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'SimonsTestDB_log', FILENAME = N'D:\SaddamHusaain\2018\DataBase\Log\SimonsTestDB_log.ldf' , SIZE = 2048KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [SimonsTestDB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [SimonsTestDB]
GO
/****** Object:  Table [dbo].[Medications]    Script Date: 1/10/2018 12:55:23 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Medications](
	[MedicationId] [int] IDENTITY(1,1) NOT NULL,
	[Name] [varchar](100) NOT NULL,
	[Dosage] [varchar](255) NOT NULL,
	[Frequency] [varchar](255) NOT NULL,
	[StartDate] [date] NOT NULL,
	[EndDate] [date] NOT NULL,
	[Prescriber] [varchar](255) NOT NULL,
	[RXNumber] [varchar](250) NOT NULL,
	[Notes] [varchar](1000) NULL,
	[Active] [bit] NOT NULL,
	[CreatedDate] [datetime] NULL,
 CONSTRAINT [PK_Medications] PRIMARY KEY CLUSTERED 
(
	[MedicationId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
ALTER TABLE [dbo].[Medications] ADD  CONSTRAINT [DF_Medications_Active]  DEFAULT ((0)) FOR [Active]
GO
USE [master]
GO
